.body{

  background-image: url("img/pexels-photo-1169754.jpg");
  border: solid;
  border-color: aqua;
  width: 100vw;
}


.logo{

  width: 15vw;
  opacity: 1;
  border-radius: 200px;
  display: inline-block;
  
  
}

.header{

  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.384);
  color: aqua;
  text-align: center;
  font-size: 20px;
  display: block;
  width: 100vw;
  
}



.carousel-inner {

  
  object-position: center;
  height: 100%;
  overflow: hidden;
}

.category-sidebar{

  border: solid;
  
  border-color: green;
  background-image: url("/img/headermatch3.jpg");
  background-size: contain;
  height: 8.1vw;
  
}













.slideshow{

  
  border: solid;

  margin-top: 50px;
  border-color: red;
  

  text-align: center;
  
  width: 50vw;
  display: inline-block;
}



.game{

  font-size: 15px;
  font-weight: bold;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.575);
  margin-top: 50px;
  display: inline-block;
  border: solid;
  color: aqua;
  width: 15vw;
  
}

.thumbnail{

  width: 90%;
}


.dropbtn {
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 15%;
  color: aqua;
  padding: 2px;
  font-size: 40px;
  width: 50px;
  border: none;
  transition: background-color 1s;
  
  
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  margin-right: 50px;
  
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: ease-in-out;
  
}

.dropdown-content a {
  color: aqua;
  padding: 12px 16px;
  padding-bottom: 20px;
  text-decoration: none;
  display: block;
  background-color: black;
  transition: ease-in-out;
  
}

.dropdown:hover .dropbtn {
  
  background-color: red;

}

.dropdown:hover .dropdown-content{

  display: block;
}



@media screen and (max-width:800px) {

  .slideshow{

    width: 99vw;
  }

  .game{

    font-size: 12px;
    font-weight: bold;
    width: 30vw;
  }

  .category-sidebar{

    height: 10vw;
  }

 

  
}
